<!-- grid__item--mobile-up-12 grid__item--mobile-up-offset-1 grid__item--tablet-up-5 grid__item--desktop-up-3 -->
<div class="container-fluid">
    <div class="container">
        <div class="row text-center">
            <div class="col col-md-6 col-lg">
                <mat-card class="bg-white">
                    <mat-card-header class="offset-xl-1">
                        <mat-card-title class="prices-text-color">
                            <h1 class="heading--3">
                                Aplicación sencilla
                            </h1>
                        </mat-card-title>
                        <mat-card-subtitle class="prices-text-color">
                            <h5 class="heading--5 text-light">
                                Ideal para emprendedores
                            </h5>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="space-15"></div>
                        <mat-divider class="divider-line offset-10"></mat-divider>
                        <div class="space-15"></div>
                        <mat-list>
                            <mat-list-item>
                                <p>Compatible con Android</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Compatible con IOs</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Autoadministrable</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Web Hosting</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Dominio Web</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Correo corporativo</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Web Cloud</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Maps & APIs</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Web universal analytics</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Chat en linea</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-content>
                        <a (click)="FbPixelBtnWsTrack();" class="btn-whatsapp" href="https://wa.me/584129986237" target="_blank" mat-raised-button color="primary">
                            Cotizar ahora
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col col-md-6 col-lg">
                <div class="space-30 d-md-none"></div>
                <mat-card class="bg-white">
                    <mat-card-header class="offset-xl-1">
                        <mat-card-title class="prices-text-color">
                            <h1 class="heading--3">
                                Aplicacion TechLeader
                            </h1>
                        </mat-card-title>
                        <mat-card-subtitle class="prices-text-color">
                            <h5 class="heading--5 text-light">
                                Para proyectos Complejos
                            </h5>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="space-15"></div>
                        <mat-divider class="divider-line offset-10"></mat-divider>
                        <div class="space-15"></div>
                        <mat-list>
                            <mat-list-item>
                                <p>Compatible con Android</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Compatible con IOs</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Autoadministrable</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Web Hosting</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Dominio Web</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Correo corporativo</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Web Cloud</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Maps & APIs</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Web universal analytics</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Chat en linea</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-content>
                        <a (click)="FbPixelBtnWsTrack();" class="btn-whatsapp" href="https://wa.me/584129986237" target="_blank" mat-raised-button color="primary">
                            Cotizar ahora
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col col-md-12 col-lg">
                <div class="space-30 d-none d-md-block d-lg-none"></div>
                <div class="space-30 d-md-none"></div>
                <mat-card class="price--theme-deep-indigo">
                    <mat-card-header class="offset-xl-1">
                        <mat-card-title class="prices-text-color2">
                            <h1 class="heading--3">
                                E-commerce App
                            </h1>
                        </mat-card-title>
                        <mat-card-subtitle class="prices-text-color">
                            <h5 style="color: white" class="heading--5 text-light">
                                Tiendas en un smartphone
                            </h5>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="space-15"></div>
                        <mat-divider style="border-color: white !important" class="divider-line offset-10"></mat-divider>
                        <div class="space-15"></div>
                        <mat-list class="price-gradient">
                            <mat-list-item>
                                <p>Compatible con Android</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Compatible con IOs</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item class="">
                                <p>Hospedaje web</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Dominio Web</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Certificados SSL</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Pasarela de pagos</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Correo corporativo</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Sistema autoadministrable</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Web universal analytics</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Carrito & Favoritos</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Integración Mobile Email Marketing</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Web Cloud</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-content>
                        <a (click)="FbPixelBtnWsTrack();" class="btn-whatsapp" href="https://wa.me/584129986237" target="_blank" mat-raised-button color="primary">
                            Cotizar ahora
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>